<h1>day la trang SẢN PHẨM !</h1>  

<p> DANH SÁCH SÀN PHẨM HIỆN BÁN TRÊN CỬA JA2NG  </p> 

<% booklist.forEach(function(book){ %>

<!-- 1 sản phẩm mẩu -->
<div class="card" style="width: 18rem;">
    <img src="/image/sach001.jpg" width="160" class="card-img-top" alt="Hạnh Phúc Là Con Đường">
    <div class="card-body">
      <h5 class="card-title"> <%= book.title %> </h5>
      <p class="card-text">  <%= book.brief%> </p>
      <a href="#" class="btn btn-primary">Chi tiết</a>
      <a href="#" class="btn btn-primary">Thêm vào giỏ hàng</a>
    </div>
  </div>

  <% });  %>
